h4 {
  color: #03c0a8;
}
.error_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sidebar-widget .widget-content .image-list {
  display: flex;
}
.donor-remove-padding {
  padding-top: 0px !important;
}
.pure-material-textfield-outlined {
  color: red;
}
