h4 {
  color: #03c0a8;
}
.error_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sidebar-widget .widget-content .image-list {
  display: flex;
}
.donor-remove-padding {
  padding-top: 0px !important;
}
.pure-material-textfield-outlined {
  color: red;
}
/* .default-sidebar .search-widget .form-group input[type='search'] {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 10px 70px 10px 20px;
    font-size: 18px;
    color: #5f5e5e;
    box-shadow: 0 0px 30px rgb(0 0 0 / 10%);
    transition: all 500ms ease;
} */
.wp-block-search.wp-block-search__button-inside
  .wp-block-search__inside-wrapper
  .wp-block-search__input {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 10px 70px 10px 20px;
  font-size: 18px;
  color: #5f5e5e;
  box-shadow: 0 0px 30px rgb(0 0 0 / 10%);
  transition: all 500ms ease;
}
